QMainWindow{
    background-color: #111;
}

QPushButton#export{
    border-style: solid;
    border-width: 0px;
    border-radius: 14px;        
    padding : 8px ;
    background-color: #696969;
}

QPushButton#export:hover{
    border-style: solid;
    margin-top: 3px;
    border-radius: 10px;

    color: #aaa;
    background-color: #4f4f4f;

}
QPushButton#export:pressed{
    color: #000;
    background-color: #FFD700;
}
